
@charset "UTF-8";
/*CSS RESET*/

a{ text-decoration:none;
 outline: none; /* for Firefox Google Chrome  */
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


*,
*::before,
*::after{
	-webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

fieldset,
img {
  border: 0;
  border-style: none; }

input,
button,
textarea,
select,
option {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit; 
}
input[type="button"], input[type="submit"], button {
	cursor: pointer;
}

*:focus { outline: none; }

.clearfix::after {/*--給最外層容器--*/
  content: "";
  clear: both;
  display: table;
}
/*end reset*/


body {
  font-family:  Arial, "Noto Sans TC", "微軟正黑體", sans-serif;
  font-size: 16px;
  color: #000;
}

.wrapper{
  width: 1088px; 
  margin: 0 auto;
}

.header{  
  position: absolute;
  width: 100%;
  padding: 24px 0;
}
.header .wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo{width: 218px; display: inline-block;}
.logo img{width: 100%; height: auto; vertical-align: top;}

.btn{
  padding: 8px 32px;
  background: #FF5D50;
  border-radius: 22px;
  color: #fff;
  display: inline-block;
}

.btn-secondary{
  padding: 12px 32px;
  background: #56C4C5;  
  border: 1px solid #56C4C5;
}
.btn-secondary:hover{
  background: #fff;  
  color: #56C4C5;
}
.top-area{
  padding-top: 118px;
  height: 100vh;
  background: url(../images/bg_home.svg) no-repeat right top;
  background-size: 50%;
}
.top-area .wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.top-photo{
  width: 49%;
}
.top-photo img{
  max-width: 100%;
  height: auto;
}
.top-area-content h2{
  font-size: 18px;
  font-weight: 700;
  line-height: 1.44;
  color: #56C4C5;
}
.top-area-content h3{
  font-size: 48px;
  font-weight: 700;
  line-height: 1.46;
  margin-top: 8px;
  margin-bottom: 16px;
}
.top-area-content p{
  line-height: 1.45;
  font-size: 18px;
}

.sns-area{

}
.sns-area ul{
  display: flex;
  justify-content: space-around;
  margin-bottom: 76px;
}
.title{
  font-size: 32px;
  margin-bottom: 48px;
  text-align: center;
  font-weight: 700;
  line-height: 1.43;
}
.role .title{
  margin-bottom: 16px;
}
.sns-area li{
  width: 33%;
  text-align: center;
  margin-bottom: 24px;
}
.sns-area li img{
  margin-bottom: 24px;
  width: 90px;
}

.sns-area li h3{
  margin-bottom: 24px;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.46;
}

.sns-area li p{
  line-height: 1.5;
}


.sns-area:before{
  content: "";
  width: 360px;
  height: 360px;
  display: block;
  position: absolute;
  z-index: -1;
  left:-180px;
  background: #56C4C5;
  border-radius: 50%;;
  margin-top: -280px;
}
.role{
  position: relative;
}
.role ul{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 -0.5%;
  margin-top: 48px;
  margin-bottom: 100px;
}

.role ul li{
  width: 23.8%;
  text-align: center;
  box-shadow: 0px 2px 10px #00000014;
  border-radius: 12px;
  margin: 0 0.5%;
  overflow: hidden;
  font-weight: 700;
}
.role ul li h3{
  color: #56C4C5;
  margin: 16px 0;

}
.role ul li p{
  line-height: 1.5;
  padding: 0 16px 24px;
}
.role ul li img{
  max-width: 100%;
  height: auto;
}

.sub-title{
  text-align: center;
  font-size: 20px;
  font-weight: 700;
}

/* .role:after{
  content: "";
  background: #B8E6E7;
  width: 310px;
  height: 310px;
  position: absolute;
  z-index: -1;
  border-radius: 50%;
  display: block;
  right:-200px;
} */
.function .wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}


.function ul{
  display: flex;
  width: 47%;
  flex-wrap: wrap;
  margin-bottom: 72px;
}
.function ul li{
  width: 45%;
  box-shadow: 0px 2px 10px #00000014;
  border-radius: 12px;
  background: #fff;
  padding: 32px 32px 48px;
  margin-right: 10%;
  margin-bottom: 28px;
}
.function ul li:nth-child(2n){
  margin-right: 0;
}


.function ul li h3{
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 16px;
}
.function ul li p{
  list-style: 1.5;
}

.icon-circle{
  width: 86px;
  height: 86px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-bottom: 24px;
  box-shadow: 0px 2px 10px #00000014;
}


.function-word{
  width: 43%;
  margin-left: 10%;
}

.function-word .title{
  margin-bottom: 16px;
  text-align: left;
}
.function-word P{
  margin-bottom: 24px;
  line-height: 1.44;
}
.comment{
  margin-bottom: 100px;
}
.comment .title{margin-bottom: 104px;}
.comment-card-list{
  display: flex;
  justify-content: space-between;
  
}
.comment-card{
  box-shadow: 0px 2px 10px #00000014;
  border-radius: 12px;
  background: #fff;
  width: 32%;
  padding: 48px 32px 24px;
  position: relative;
  
}
.comment-card-list p{
  line-height: 1.44;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}
.star li{
  display: inline-block;
  width: 17px; height: 16px;
  margin-right: 5px;  
  background: url(../images/icon_star.svg) no-repeat;
  background-size: 17px;
}
.avatar{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  margin-top: -100px;
  position: absolute;
  box-shadow: 0px 2px 10px #00000014;
}
.avatar img{
  max-width: 100%;
  height: auto;
}
.comment-card-bottom{
  display: flex;
  justify-content: space-between;
}
.comment-card h4{
  margin-bottom: 8px;
  font-weight: 700;
}

.dot{
  text-align: center;
  margin-top: 24px;
}

.dot li{
  width: 10px;
  height: 10px;
  background: #ddd;
  margin: 0 3px;
  display: inline-block;
  border-radius: 50px;
}
.dot li.active{
  width: 16px;
  background: #FFD153;
}

.call{
  background: url(../images/home_footer.svg) no-repeat center top;
  background-size: cover;
  text-align: center;
  padding: 260px 10px 100px;
}

footer{
  background: #F5F5F5;
  text-align: center;
  padding: 16px 0;
}


@media (max-width: 1200px){
  .wrapper{
    padding: 0 20px;
    width: 100%;
  }
}

@media (max-width: 1024px){
  .top-area{
    height: auto;
  }
  .sns-area:before {
    width: 126px;
    height: 126px;    
    left: -63px;
    margin-top: 0;
  }
}


@media (max-width: 768px){
  .header{
    border-bottom: 2px solid #FFD153;
  }
  .top-area-content, .top-photo{
    width: 100%;
  }
  .top-area .wrapper{
    flex-wrap: wrap;
  }
  .top-area{
    background: url(../images/bg_home_sm.svg) no-repeat center bottom;
    background-size: 93%;
  }
  .top-area-content h3{font-size: 32px;}
  .top-area-content p{font-size: 16px;}
  .sns-area{margin-top: 60px;}
  .sns-area li img{
    width: 60px; margin-bottom: 16px;
  }
  .sns-area li h3{margin-bottom: 16px; font-size: 18px;
  line-height: 1.44;}
  .logo{
    width: 130px;
  }
  .header {
    padding: 10px 0;
  }
  .top-area{
    padding-top: 104px;
  }
  .top-area-content h2{font-size: 16px;}
  
  .title{font-size: 28px;}
  .sns-area li{width: 100%;}
  .sns-area ul{
    flex-wrap: wrap; margin-bottom: 60px;
  }
  .sub-title{font-size: 18px;}
  .role ul {
    margin: 0;
    margin-top: 32px;
    margin-bottom: 28px;
  }
  .role ul li{
    width: 100%;
    margin: 0 0 24px;
  }
  .function ul{
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .function ul li{
    width: 100%;
    margin-right: 0;
    max-width: 284px;
  }
  .function .wrapper{
    flex-direction: column-reverse;
  }
  .function-word {
    width: 100%;
    margin-left: 0;
    text-align: center;
    padding-bottom: 32px;
  }
  .function-word .title{
    text-align: center;
  }
  .comment-card{
    width: 100%;
  }
  .comment-card:nth-child(2), .comment-card:nth-child(3){
    display: none; /*----沒套JQ 所以示意用-----*/
  }
  .comment {
    margin-bottom: 60px;
  }
  .call {
    background: url(../images/footer_sm.svg) no-repeat center top;
    background-size: 100%;
    padding: 260px 10px 100px;
  }



}

@media (max-width: 600px){
  
  
}

