
@charset "UTF-8";
/*CSS RESET*/

a{ text-decoration:none;
 outline: none; /* for Firefox Google Chrome  */
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


*,
*::before,
*::after{
	-webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

fieldset,
img {
  border: 0;
  border-style: none; }

input,
button,
textarea,
select,
option {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit; 
}
input[type="button"], input[type="submit"], button {
	cursor: pointer;
}

*:focus { outline: none; }

.clearfix::after {/*--給最外層容器--*/
  content: "";
  clear: both;
  display: table;
}
/*end reset*/


body {
  font-family:  Arial, "微軟正黑體", sans-serif;
  font-size: 16px;
  color: #3F5D45;
}

.wrapper{
  width: 1024px; 
  margin: 0 auto; 
  padding-left: 42px; 
  padding-right: 42px;
}

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  margin-top: 30px;
}
.logo:hover{opacity: 0.8;}
.logo img{ max-width: auto; height: 42px;}
.menu{
  display: flex;
  align-items: center;
}
.menu li a{
  color: #3F5D45; padding: 8px 20px;
}
.menu li a:hover{
  opacity: 0.8;
}
.icon-cart{
  display: block;
  width: 24px;
  height: 24px;
  background: url(https://hexschool.github.io/webLayoutTraining1st/student-week1/shopping_cart.png) no-repeat center;
}

.cart{margin-left: 50px;}
.banner{margin-bottom: 60px;}
.main{
  display: flex; padding-bottom: 60px;
}
.sidenav{
  font-size: 24px;
  text-align: center;
  width: 300px;
  margin-right: 20px;
  flex-shrink: 0;
}
.sidenav h3{
  padding: 16px 5px;
  background: #3F5D45;
  color: #fff;
}

.sidenav ul li a{
  display: block;
  border: 1px solid #EAF0ED;
  border-bottom: none;
  color: #3F5D45;
  padding: 16px 5px;

}
.sidenav ul li:last-child a{
  border-bottom: 1px solid #EAF0ED;
}
.sidenav ul li a:hover, .sidenav ul li a.current{
  background: #EAF0ED;
  border-color: #EAF0ED;
}



.item-list{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.item-list li{
  width: 300px;
  position: relative;
  margin-bottom: 20px;
}

.item-photo img{
  width: 100%;
  height: 315px;
  vertical-align: top;
}
.tag{
  position: absolute;
  left: 20px;
  width: 36px;
  height: 107px;
  padding: 10px;;
  color: #fff;
  background: #3F5D45;
  text-align:center;
  line-height: 1.2;
}

.btn-collect{
  position: absolute;
  width: 20px;
  height: 20px;
  right: 22px;
  top: 19px;
  border:none;
  background: url(https://hexschool.github.io/webLayoutTraining1st/student-week1/favorite_border.png) no-repeat center;
}
.btn-collect:hover{
  opacity: 0.5;
}
.item-info{
  display: flex;
  color: #3F5D45;
  font-size: 20px;
  align-items: center;  
  border: 1px solid #EAF0ED;
}
.item-title{
  width: 173px;
  text-align:center;
  padding: 14px 5px;
}

.price{
  width: 127px;
  text-align:center;
  padding: 14px 5px;
  border-left: 1px solid #EAF0ED;
}
.btn-addcart{
  border: 1px solid #EAF0ED;
  background: #EAF0ED;
  color: #3F5D45;
  height: 65px;
  text-align: center;
  line-height: 65px;
  display: block;
  font-size: 24px;
}
.page ul{
  margin-top: 30px;  
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.page ul li a{
  color: #3F5D45;
  width: 60px;
  height: 60px;
  display: block;
  border: 1px solid #EAF0ED;
  border-right: none;
  line-height: 60px;
  text-align: center;
}
.page ul li a img{vertical-align: top;}
.page ul li a:last-child{
  border-right: 1px solid #EAF0ED;
}
.page ul li a:hover{
  background-color: #EAF0ED;
}
.page ul li a.current, .page ul li a.current:hover{
  background: #3F5D45; 
  color: #fff;
  border-color: #3F5D45;
}

.btn-prev{
  background: url(https://hexschool.github.io/webLayoutTraining1st/student-week1/arrow_left.png) center no-repeat;
}

.btn-next{
  background: url(https://hexschool.github.io/webLayoutTraining1st/student-week1/arrow_right.png) center no-repeat;
}